<tr>
	<td style="border: 1px solid black; padding: 2px;" colspan="1">%ROW_NUMBER%</td>
	<td style="border: 1px solid black; padding: 2px;" colspan="1">%PROVEN%</td>
	<td style="border: 1px solid black; padding: 2px;" colspan="1">%CITY%</td>
	<td style="border: 1px solid black; padding: 2px;" colspan="1"><p>
			In virt&#249; di <br /> %SUBJECT_FULL_NAME% risulta proprietaria dei
			<br />
			<span style="font-weight: bold;">DIRITTI PARI A %QUOTA% DELLA 
				PIENA PROPRIETA’</span><br /> %PROPERTY_BLOCK%
		</p> <br />
		<p style="text-align: center;">
			<span style="font-weight: bold;">Detto immobile risulta 
				gravato da:</span>
		</p> <br /> <br />
		<p>%FORMALITY_BLOCK%</p></td>
</tr>