*.class
*.classpath
*.project
*.DS_Store
*.war
/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temp file gedit
*~

# eclipse custom settings
/.settings

/bin/

# Intellij
.idea/
*.iml
*.iws

#properties di build
/conf/build.properties
/conf/liquibase.properties

src/main/resources/hibernate.cfg.xml

src/main/resources/project.properties

getesi/src/main/webapp/META-INF/MANIFEST.MF