<head>
<style>
p {
	font-size: 10px !important;
	margin: 0px !important;
}

hr {
	border: none;
	color: black;
	background-color: black;
	height: 1px;
}

table {
	margin: 0px !important;
}
</style>
</head>
<body>
	<table style="width: 100%;">
		<tbody>
			<tr>
				<td>
					<p style="margin-bottom: 0cm;" align="CENTER">
						<img src="../resources/images/synthetic_formality_logo.jpg"
							alt="Logo" height="40px" />
					</p>
				</td>
				<td rowspan="2">
					<p align="CENTER" style="font-size: 20px !important;">%VISURA_TITLE_C%</p>
					<p align="CENTER" style="font-size: 16px !important;">Situazione
						degli atti informatizzati al %SITUATION_TO_C%</p>
				</td>
				<td rowspan="2">
					<p align="right">Data %VISURA_TITLE_DATE_C% Ora
						%VISURA_TITLE_TIME_C%</p>
					<p align="right">Visura n.: T194173 Pag. $[page] di $[total]</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="left">
						%SERVICE_TYPE_C%<br /> %PROVENANCE_C%<br /> Servizi Catastali
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>