<p class="header_text">%PROPERTY_BUILDING_DESCRIPTION%</p>
<table border="1" width="100%" class="building-table" style="margin-top: 3px;">
	<tbody>
		<tr>
			<td rowspan="2" style="padding-left: 10px; padding-right: 10px;"><p class="header_text">N.</p></td>
			<td colspan="4"><p class="header_text">DATI IDENTIFICATIVI</p></td>
			<td colspan="7"><p class="header_text">DATI DI CLASSAMENTO</p></td>
			%EXTRA_COLUMN%
			<!-- <td colspan="2"><p class="header_text">ALTRE INFORMAZIONI</p></td> -->
		</tr>
		<tr>
			<td><p>Sezione Urbana</p></td>
			<td><p>Foglio</p></td>
			<td><p>Particella</p></td>
			<td><p>Sub</p></td>
			<td><p>Zona Cens.</p></td>
			<td><p>Micro Zona</p></td>
			<td><p>Categoria</p></td>
			<td><p>Classe</p></td>
			<td><p>Consistenza</td>
			<td><p>Superficie Catastale</p></td>
			<td><p>Rendita</p></td>
			%EXTRA_COLUMNS%
		</tr>
		%PROPERTY_BUILDING_ROWS%
	</tbody>
</table>
<br />
%PROPERTY_BUILDING_MAPS%
<br />
%PROPERTY_ANNOTATION_ROW%
<br />
%PROPERTY_ANNOTATION_TABLE%
<br/>
%PROPERTY_INSTAT_TABLE%
