<tr>
	<td><p class="left_text">%PROPERTY_HISTORY_INDEX%</p></td>
	<td colspan="3" ><p class="left_text">%PROPERTY_HISTORY_NOMINATIVE%</p></td>
	<td colspan="3"><p>%PROPERTY_HISTORY_FISCAL_CODE%</p></td>
	<td colspan="3"><p>(%PROPERTY_HISTORY_LAW_CODE%) %PROPERTY_HISTORY_REAL_RIGHTS_DESCRIPTION% %PROPERTY_HISTORY_REAL_RIGHTS_QUOTE%</p></td>
</tr>
<tr>
 <td colspan="3"><p class="header_text left_text">DATI DERIVANTI DA</p></td>
 <td colspan="7"><p class="left_text">%PROPERTY_HISTORY_RESULT_DATA%</p></td>
</tr>