<tr>
	<td><p class="header_text">%PROPERTY_BUILDING_INDEX%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_SEC_URBANA%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_SHEET%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_PARTICLE%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_SUB%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_AREA%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_MICRO_ZONE%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_CATEGORY%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_CLASS%</p></td>
	<td><p class="header_text">%PROPERTY_BUILDING_CONSISTENCY%</p></td>
	<td><p class="header_text" style="white-space: nowrap;">%PROPERTY_BUILDING_TOTAL%</p></td>
	<td><p class="header_text" style="white-space: nowrap;">%PROPERTY_BUILDING_REVENUE%</p></td>
	<td colspan="2"><p>%PROPERTY_BUILDING_ADDRESS%</p></td>
	%PROPERTY_BUILDING_ANNOTATION%
	
</tr>
%PROPERTY_BUILDING_INDRIZZO%
%PROPERTY_BUILDING_NOTIFICATION%
%PROPERTY_BUILDING_REMARKS%
