<p class="header_text" style="padding-top: 15px;">%PROPERTY_BUILDING_DESCRIPTION%</p>
<table class="building-table" width="100%" border="1" style="margin-top: 3px;">
	<tbody>
		<tr>
			<td rowspan="3"><p class="header_text">N.</p></td>
			<td colspan="3"><p class="header_text">DATI IDENTIFICATIVI</p></td>
			<td colspan="9"><p class="header_text">DATI DI CLASSAMENTO</p></td>
			<td colspan="2"><p class="header_text">ALTRE INFORMAZIONI</p></td>
		</tr>
		<tr>
			<td rowspan="2"><p>Foglio</p></td>
			<td rowspan="2"><p>Particella</p></td>
			<td rowspan="2"><p>Sub</p></td>
			<td rowspan="2"><p>Porz</p></td>
			<td colspan="2" rowspan="2"><p>Qualit&agrave; Classe</p></td>
			<td colspan="4"><p>Superficie(m&sup2;)</p></td>
			<td rowspan="2"><p>Deduz.</p></td>
			<td colspan="2"><p>Reddito</p></td>
			<td rowspan="2"><p>Indirizzo<br/>Dati derivanti da</p></td>
			<td rowspan="2"><p>Dati ulteriori</p></td>
		</tr>
		<tr>
			<td><p>mq</p></td>
			<td><p>ha</p></td>
			<td><p>are</p></td>
			<td><p>ca</p></td>
			<td><p>Dominicale</p></td>
			<td><p>Agrario</p></td>
		</tr>
		%PROPERTY_LAND_ROWS%
	</tbody>
</table>
<br />
%PROPERTY_ANNOTATION_ROW%
<br />
%PROPERTY_ANNOTATION_TABLE%
<br/>
%PROPERTY_INSTAT_TABLE%

