<tr style="font-weight: bold;">
	<td><p>%PROPERTY_LAND_INDEX%</p></td>
	<td><p>%PROPERTY_BUILDING_SHEET%</p></td>
	<td><p>%PROPERTY_BUILDING_PARTICLE%</p></td>
	<td><p>%PROPERTY_BUILDING_SUB%</p></td>
	<td><p>%PROPERTY_LAND_PORTION%</p></td>
	<td><p>%PROPERTY_LAND_QUALITY%</p></td>
	<td><p>%PROPERTY_LAND_CLASS%</p></td>
	<td><p>%PROPERTY_LAND_HA%</p></td>
	<td><p>%PROPERTY_LAND_ARE%</p></td>
	<td><p>%PROPERTY_LAND_CA%</p></td>
	<td><p>%PROPERTY_LAND_DEDUCTION%</p></td>
	<td><p style="white-space: nowrap;">%PROPERTY_LAND_DOMINICALE%</p></td>
	<td><p style="white-space: nowrap;">%PROPERTY_LAND_AGRICULTURAL%</p></td>
	<td><p>%PROPERTY_BUILDING_ADDRESS%</p></td>
	<td><p>%PROPERTY_BUILDING_ANNOTATION%</p></td>
</tr>