<p class="header_text">Intestazione degli immobili indicati al n. &nbsp;
	%PROPERTY_BUILDING_NUMBER%</p>
<table style="width: 100%; margin-top: 3px;" border="1">
	<tbody>
		<tr>
			<td style="width: 5%;"><p class="header_text">N.</p></td>
			<td style="width: 40%;" colspan="2"><p class="header_text">DATI ANAGRAFICI</p></td>
			<td style="width: 15%;"><p class="header_text">CODICE FISCALE</td>
			<td><p class="header_text">DIRITTI E ONERI REALI</p></td>
		</tr>
		%PROPERTY_INSTAT_ROWS%
		<tr>
			%PROPERTY_RESULT_DATA%
		</tr>
	</tbody>
</table>