
<table style="width: 100%; border-collapse: collapse;"
	class="data_of_request">
	<tbody>
		<tr>
			<td class="top_left"><p class="header_text left_text">Dati&nbsp;della&nbsp;richiesta</p></td>
			<td class="top_right"><p class="header_text left_text">Comune&nbsp;di
					&nbsp; %DATA_REQUEST_COMUNE_C% (Codice: %DATA_REQUEST_CODICE_COMUNE_C%)</p></td>
		</tr>
		<tr>
			<td class="center_left"></td>
			<td class="center_right"><p class="header_text left_text">Provincia di&nbsp;
					%DATA_REQUEST_PROVINCE_C%</p></td>
		</tr>
		<tr>
			<td class="bottom_left"><p class="header_text left_text">Catasto&nbsp;Fabbricati</p></td>
			<td class="bottom_right"><p class="header_text left_text">Foglio:&nbsp;%DATA_REQUEST_FOGLIO_C%
					&nbsp;Particella:&nbsp;%DATA_REQUEST_PARTICELLANUM_C%
					&nbsp;Sub.:&nbsp;%DATA_REQUEST_SUBALTERNO_C%</p></td>
		</tr>
	</tbody>
</table>
<br/>
%PROPERTY_INSTAT_TABLE_C%