
<table style="width: 100%; border-collapse: collapse;"
	class="data_of_request">
	<tbody>
		<tr>
			<td class="top_left"><p class="header_text left_text">Dati&nbsp;della&nbsp;richiesta</p></td>
			<td class="top_right"><p class="header_text left_text">Denominazione:
					&nbsp; %SUBJECT_DENOMINATION_C%</p></td>
		</tr>
		<tr>
			<td class="center_left"></td>
			<td class="center_right"><p class="header_text left_text">Terreni
					e &nbsp; Fabbricati siti in tutta la&nbsp; provincia di &nbsp;
					%DATA_REQUEST_PROVINCE_C%</p></td>
		</tr>
		<tr>
			<td class="bottom_left"><p class="header_text left_text">Soggetto&nbsp;individuato</p></td>
			<td class="bottom_right"><p class="header_text left_text">%SUBJECT_DENOMINATION_C%
					&nbsp;con sede in %SUBJECT_SEAT_C% C.F.: %SUBJECT_FISCALCODE_C_L%</p></td>
		</tr>
	</tbody>
</table>