<?xml version="1.0" encoding="UTF-8"?>
<Fattura24>
    <Document>
        <DocumentType>$documentType</DocumentType>
        <CustomerName>$customerName</CustomerName>
        <CustomerAddress>$customerAddress</CustomerAddress>
        <CustomerPostcode>$customerPostcode</CustomerPostcode>
        <CustomerCity>$customerCity</CustomerCity>
        <CustomerProvince>$customerProvince</CustomerProvince>
        <CustomerCountry>$customerCountry</CustomerCountry>
        <CustomerFiscalCode>$customerFiscalCode</CustomerFiscalCode>
        <CustomerVatCode>$customerVatCode</CustomerVatCode>
        <CustomerCellPhone>$customerCellPhone</CustomerCellPhone>
        <CustomerEmail>$customerEmail</CustomerEmail>
        <Object></Object>
        <FeCustomerPec>$feCustomerPec</FeCustomerPec>
        <FeDestinationCode>$feDestinationCode</FeDestinationCode>
        <FePaymentCode>$fePaymentCode</FePaymentCode>
        <PaymentMethodName>$paymentMethodName</PaymentMethodName>
        <PaymentMethodDescription>$paymentMethodDescription</PaymentMethodDescription>
        <TotalWithoutTax>$totalWithoutTax</TotalWithoutTax>
        <VatAmount>$vatAmount</VatAmount>
        <Total>$total</Total>
        <FootNotes>$footNotes</FootNotes>
        <SendEmail>$sendEmail</SendEmail>
        <Rows>
            #foreach($invoiceItem in $invoiceItems)<Row>
                <Description>$invoiceItem.description</Description>
                <Qty>1</Qty>
                <Price>$invoiceItem.amount</Price>
                <VatCode>$invoiceItem.vat</VatCode>
                <VatDescription>$invoiceItem.vat%</VatDescription>
            </Row>
            #end
        </Rows>
    </Document>
</Fattura24>