ris_address=

set autostart true or false parameter

tempRemoverService=false
keepAliveService=false
sessionFilterService=false
importPropertyService=false
importEstateFormalityService=false
importFormalityService=false
importVisureRTFService=false
importVisureDHService=false
importRequestOLDService=false


pathToXlsx=C:\\Users\\Administrator\\Downloads\\storico_formalita.xlsx


keystorepath=keystore.jks

keyalias=nexera

keypass=weA17qHq1
proj.applet.dir=/WebContent/resources/applets
proj.labelprint.project.directory=./../RIS_label_printing
proj.lblprint.jar=print.jar
proj.lblprint.manifest=MANIFEST.MF
proj.lblprint.src.zip=RIS_label_printing.zip

dictionaryPath=D:/workspace/UserDictionary.txt

destinationPath=D:\\test\\ris_framework
requestReportSavePath=D:\\test\\ris_framework
documentSavePath=D:\\test\\ris_framework\\document
documentSavePathForThirdPartApp=D:\\test\\ris_framework\\Third_Part_App
thirdPartAppURL=http://Server:8888/pdfxml/pdfconverter.php?

file.deploy.dir=.

fatturaAPITemplatePath=FatturaAPITemplate.vm
version=1.0