<head>
<style>
p {
	font-size: 16px !important;
	margin: 0px !important;
}

hr {
	border: none;
	color: black;
	background-color: black;
	height: 1px;
}
</style>
</head>
<body>
	<p>
	<table align="left" width="40%">
		<tbody>
			<tr>
				<td>
					<p style="margin-bottom: 0cm;" align="CENTER">
						<img src="../resources/images/synthetic_formality_logo.jpg"
							height="30px" alt="Logo" />
					</p>
				</td>
			<tr>
				<td>
					<p align="left">Ufficio Provinciale di %PROVINCE% - Territorio
						Servizio di Pubblicit&#224; Immobiliare di %CONSERVATORIA_NAME%</p>
				</td>
			</tr>
		</tbody>
	</table>


	<table align="right" width="30%">
		<tbody>
			<tr>
				<td>
					<p align="CENTER">
						<b>Ispezione Ipotecaria</b>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="CENTER">
						%COMMUNICATON_DATE%
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="right">Pag. $[page] di $[total]</p>
				</td>
			</tr>
		</tbody>
	</table>
	</p>
	<hr />
	<p>
	<table width="30%" align="left">
		<tbody>
			<tr>
				<td>
					<p align="left">
						<strong>Ispezione telematica</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align="left">
						per dati anagrafici <br /> Richiedente %APPLICANT_DATA%
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<table width="50%" align="right">
		<tbody>
			<tr>
				<td>
					<p align="left">Ispezione n. %NUMBER_INSPECTION% del
						%DATE_INSPECTION%</p>
				</td>
			</tr>
		</tbody>
	</table>
	</p>
	<hr />
</body>