<table width="100%" align="left">
	<tbody>
		<tr>
			<td style="width: 3%">%SUBJECT_NUMBER%.</td>
			<td style="width: 90%">%SUBJECT_SURNAME_HOMONYM%
				%SUBJECT_NAME_HOMONYM%</td>
		</tr>
	</tbody>
</table>
<table width="100%" align="left">
	<tbody>
		<tr>
			<td style="width: 25%">Luogo di Nascita</td>
			<td style="width: 50%">%BIRTH_CITY_HOMONYM%
				(%BIRTH_PROVINCE_HOMONYM%)</td>
		</tr>
	</tbody>
</table>
<table width="100%" align="left">
	<tbody>
		<tr>
			<td style="width: 20%">Data di Nascita</td>
			<td style="width: 20%">%BIRTH_DATE_HOMONYM%</td>
			<td style="width: 5%">Sesso</td>
			<td style="width: 5%">%SEX%</td>
			<td style="width: 20%">Codice fiscale</td>
			<td style="width: 25%">%FISCAL_CODE_HOMONYM%</td>
		</tr>
	</tbody>
</table>