<table width="100%" align="left">
    <tbody>
    <tr>
        <td style="vertical-align: top;">%FORMALITY_NUMBER%. </td>
        <td>%ACT_CODE_STRING%%FORMALITY_TYPE% %QUALIFICATION_TYPE%
            del %FORMALITY_DATE% - Registro Particolare %RECORD_DETAIL% Registro
            Generale %REGISTRAR_GENERAL% <br/>
            %PUBLIC_OFFICIAL%
            %ACT_TYPE% <br/> %PROPERTY_LOCATION% %QUALIFICATION% 
            %PROVENANCE% <br/> %REFERENCE_FORMALITIES%
            %AC_ROW% <br/><br/>
        </td>
    </tr>
    </tbody>
</table>