<html>
<body>
	<style>
.bold_text {
	font-weight: bold;
}
</style>
	<table style="width: 100%;">
		<tbody>
			<tr>
				<td><p class="bold_text">Data</p></td>
				<td>%MAIL_DATE%</td>
			</tr>
			<tr>
				<td><p class="bold_text">Da</p></td>
				<td>%MAIL_FROM%</td>
			</tr>
			<tr>
				<td><p class="bold_text">A</p></td>
				<td>%MAIL_TO%</td>
			</tr>
			<tr>
				<td><p class="bold_text">CC</p></td>
				<td>%MAIL_COPY%</td>
			</tr>
			<tr>
				<td><p class="bold_text">CCN</p></td>
				<td>%MAIL_BLIND_COPY%</td>
			</tr>
			<tr>
				<td><p class="bold_text">Oggetto</p></td>
				<td>%MAIL_SUBJECT%</td>
			</tr>
			<tr>
				<td colspan="2">%MAIL_BODY%</td>
			</tr>
		</tbody>
	</table>
</body>
</html>