$primaryColor: #FFC107 !default;
$primaryTextColor:#000000 !default;

$logoBgColor:#FFCA28 !default;
$topbarBgColor:#FFC107 !default;
$topbarIconColor:#000000 !default;
$topbarIconHoverBgColor:#FFD54F !default;
$lightMenuitemActiveTextColor:#FFC107 !default;
$darkMenuitemActiveTextColor:#FFC107 !default;
$horizontalMenuitemActiveBgColor:#FFC107 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#FFC107 !default;
$badgeTextColor:#212121 !default;

@import '../../sass/layout/_layout';
