.ui-button.grey-button {
    background-color: #788fa7 !important;
    padding: 0 20px 0 20px;
    text-align: center!important;
}
.ui-button.green-button {
    background-color: #00cc52 !important;
    width: 150px;
    margin-bottom: 10px;
}
.grey-panel {
    background-color: #eff3f5;
    width: 100%;
    text-align: -webkit-left;
}

body .ui-widget-content{
    border: 0;
    border-color: #C9CDD2 ;
}
body .ui-tabs .ui-tabs-panel {
    padding: 0;
}
body .ui-panel .ui-panel-content {
    padding:0;
}
ul.ui-wizard-step-titles.ui-helper-reset.ui-helper-clearfix{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
li.ui-wizard-step-titles.ui-helper-reset.ui-helper-clearfix{
    display: block;
    list-style-type: none;
}

li.ui-wizard-step-title.ui-state-default.ui-corner-all{
    width: 100%;
    text-align: center;
}

.selectOneLabel {
    width: 94%;
    color: #6991b6 !important;
}
.titel-panel {
    background-color: #788fa7;
    padding: 12px 0px 12px 12px;
    width: 99%;
    text-align: -webkit-left;
    margin-bottom: 10px;
    color: white;
}

.column-height {
    height: 30px;
}
.fiend-panel {
    background-color: #eff3f5;
    width: 100%;
    text-align: -webkit-left;
    margin-bottom: 10px;
    color: white;
    border: solid;
    border-color: #788fa7;
    border-width: 1px;
}

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    font-size: 14px;
    margin: 0;
    padding: 8px 14px;
}

.ui-wizard-content{
    margin-top: 0;
}

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title,body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title:last-child, body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title:first-child {
    color: #D9E0E7!important;
    border-style: none;
    border-bottom: 3px solid #D9E0E7!important;
}

li.ui-wizard-step-title.ui-state-default.ui-corner-all.ui-state-highlight{
    border-bottom: 3px solid #788fa7!important;
    color: #788fa7!important;
    background-color:white!important;

}

li.ui-wizard-step-title.ui-state-default.ui-corner-all.ui-state-highlight:before {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid rgb(145, 27, 54);
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -27px;
    width: 0;
}
.column-fix-width-5{
    width: 20%!important;
}
.ui-icon-myCancel{
    background-image: url('../images/cross.png') !important;
}
.ui-icon-myEdit{
    background-image: url('../images/font-selection-editor.png') !important;
}
.ui-icon-mySearch{
    background-image: url('../images/search.png') !important;
}
.ui-icon-myRemove{
    background-image: url('../images/remove.png') !important;
}
.ui-icon-myAdd{
    background-image: url('../images/add.png') !important;
}
.action_column-header {
    width: 128px;
}
.header-client-list{
    background-color:  #788fa7 !important;
    padding: 8px 14px;
    border-color: #c9cdd2;
    color: #ffffff;
}
.table-client-list span.ui-column-title{
    font-weight: normal;
    color: white;
}
body .table-client-list.ui-datatable thead th{
    background-color: #788fa7 !important;

}
body .table-client-list.ui-datatable .ui-datatable-data tr td{
    color:#788fa7 !important;
}
.color-blue{
    color:#788fa7 !important;
}
.referent-table span.ui-column-title{
    font-weight: normal;
    color:  #788fa7 !important;
}
body .referent-table.ui-datatable thead th{
   text-align: left;

}
body .referent-table.ui-datatable .ui-datatable-data tr td{
    color:#788fa7 !important;
}
.ui-wizard-nav-next{
    background-color: #00cc52 !important;
    width: 150px;}
.ui-wizard-nav-back{
    background-color: #00cc52 !important;
    width: 150px;}
.ui-picklist-list-wrapper {
	border: 1px solid #c9cdd2;
}

.ui-dialog {
    overflow: scroll;
    max-height: 100%;
}
