.cost_titles {
    padding-top: 20px !important;
}

.cost_titles h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}

.ui-datatable-scrollable-theadclone tr  {
    display: none !important;
}

#requestExtraCostDialog .ui-dialog-titlebar {
    padding: 0.4em 0.4em 0.4em 1em;
}
#cke_body {
    width: 67vw !important;
}
body .ui-button.ui-button-warning {
    background: #fed820;
    color: #000000;
}