/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 20, 2022, 1:32:11 PM
    Author     : User
*/

#table table {
	margin-top: 20px;
	padding-left: 13px;
	width: calc(100% - 13px);
}

body .request-table thead th {
	background-color: #D9E0E7  !important;
	color: black !important;
	font-weight: normal;
	font-size: 14px;
}

.status-yellow {
	border: 2px solid #ED9C43;
	color: #ED9C43;
}

.status-green {
	border: 2px solid #00C347;
	color: #00C347;
}

.status-navy {
	border: 2px solid #123df7;
	color: #123df7;
}

.status-magenta {
	border: 2px solid #616CA2;
	color: #616CA2;
}

.status-red {
	border: 2px solid #FF0000;
	color: #FF0000;
}
.status-cyan {
	border: 2px solid #339999;
	color: #339999;
}

.state-blue {
	border: 2px solid #7E57C2;
	color: #7E57C2;
}

.status-icon {
	height: 24px;
	width: 142px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Mukta', sans-serif;
}

.request-table table {
	border-collapse: separate;
	border-spacing: 0 0.6em;
	width: auto;
}

::-webkit-input-placeholder { /* Edge */
	color: #003871;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #003871;
}

::placeholder {
	color: #003871;
}

body .custom-design-tooltip .ui-tooltip-text {
	background: #D9E0E7;
	color: #6688AA;
	border: 10px solid #68a;
	border-radius: 10px;
	padding: 10px !important;
	box-shadow: none;
	position: relative;
	top: 20px;
	min-width: 220px !important;
}

body .custom-design-tooltip .ui-tooltip-arrow {
	display: none;
}

.vertical-txt {
	font-size: 12px;
	font-weight: 600;
	font-family: 'Mukta', sans-serif;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	position: absolute;
	margin-left: -73px;
	margin-top: -3.6em;
	color: #FFFCFC !important;
	background-color: #FF0000 !important;
	border-radius: 3px !important;
	min-width: 89px;
	height: 14px;
	text-align: center;
	padding-top: 0.4px;
}

.action-btn {
	border-radius: 7px !important;
	width: 100%;
}

.action-btn>span {
	font-weight: 600 !important;
}

body .ui-tooltip-text .ui-button {
	background-color: #D9E0E7 !important;
}

body .ui-tooltip-text .ui-button .ui-button-text {
	color: #003871 !important;
}

.ui-tooltip .ui-tooltip-text {
	padding: 0 !important;
	color: #D9E0E7;
}

.ui-tooltip .ui-panelgrid-content {
	background-color: #6688AA;
	border-radius: 7px;
	border: 1px solid #547ac4;
	opacity: 1.0;
}

.action-tooltip-grid .ui-tooltip-text {
	background-color: transparent !important;
}

.g-btn .ui-button-text {
	margin-top: -5px;
	margin-left: -5px;
	font-weight: 600;
	color: #003871 !important;
}

body .ui-datatable .ui-datatable-data tr.ui-state-highlight {
	border-color: inherit !important;
}

#table_data td {
	color: #003871;
	border-top: none;
	border-bottom: none;
	background-color: #ffffff !important;
}

#table_data td:nth-child(1) {
	border-left: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	vertical-align: top;
}

#table_data td:last-child {
	border-right: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 4px 0px 7px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 0px 7px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

#table_data tr {
	background-color: transparent !important;
	border-top: none;
	-webkit-box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.75);
}

#table {
	/*background-color: #D9E0E7;*/
	background-color: #f1f0f1
}

#table_data tr {
	margin-bottom: 8px;
	border-left: none;
}

#table_data {
	border: none;
	background: transparent;
}

#table_head {
	width: 100%;
}


#table_paginator_top, #table_paginator_bottom {
	text-align: center;
	padding: 8px 35px;
}

.ui-paginator-rpp-options {
	float: left;
}

.ui-paginator-current {
	float: right;
}


.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
	color: #ffffff !important;
}

.ui-paginator .ui-paginator-page {
	padding: 2px 8px;
}o08la

 .ui-paginator .ui-paginator-rpp-options {
	 background-color: #ffffff;
	 border: none;
	 border-radius: 5px;
 }

 body #table .ui-state-active, body .ui-state-highlight {
    background-color: #ffffff !important;
} 
body #table .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: #FFFFFF !important;
    color: #000000 !important;
}
.tableColumnHeader {
	text-decoration: none;
	color: black;
}

.user-filled-icon {
	background-image: url("../images/user-filled.png");
	background-repeat: no-repeat;
	background-position: 50%;
	width: 28px;
	height: 29px;
	margin: 0 auto;
	display: block;
}

.card.card-w-title {
	padding-left: 0px;
	padding-right: 0px;
}


.non_displayed_button{
	display: none;
}

.ui-dialog .ui-dialog-titlebar{
	padding: 25px !important;
        background-color: #ffffff !important;
        color: black !important;
}


#table_data .ui-commandlink{
    color: #003871 !important;
}

#table_paginator_top :first-child {
    margin-top: 6px !important;
}

body #table .ui-paginator .ui-paginator-pages {
    margin-top: -6px !important;
}

#table_paginator_bottom :first-child {
    margin-top: 6px !important;
}