<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true" access-denied-page="/Common/AccessDenied.jsf" >
		<intercept-url pattern="/monitoring" access="ROLE_USER" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-processing-url="/j_spring_security_check"
					login-page="/Login.jsf" default-target-url="/Common/Index.jsf"
					authentication-success-handler-ref="authenticationSuccessHandlerEx"
					authentication-failure-url="/Login.jsf" />
		<remember-me services-ref="rememberMeServices"
					 key="nexera_auth_key_A63BCCD0-2504-11E2-81C1-0800400C9A66"
					 authentication-success-handler-ref="authenticationSuccessHandlerEx" />

		<logout logout-url="/j_spring_security_logout"
				logout-success-url="/" />
	</http>

	<beans:bean id="rememberMeServices"
				class="it.nexera.ris.common.security.beans.TokenBasedRememberMeServicesEx">
		<beans:property name="key"
						value="nexera_auth_key_A63BCCD0-2504-11E2-81C1-0800400C9A66" />
		<beans:property name="cookieName" value="REMEMBER_ME" />
		<beans:property name="parameter" value="remember_me_input" />
		<beans:property name="tokenValiditySeconds" value="999999999" />
		<beans:property name="useSecureCookie" value="true" />
		<beans:property name="userDetailsService" ref="authUserDetailsBean" />
		<beans:property name="alwaysRemember" value="false" />
	</beans:bean>

	<beans:bean id="securityControllerBean"
				class="it.nexera.ris.common.security.beans.PersistSecurityBean">
	</beans:bean>

	<beans:bean id="securityInfoProcBean"
				class="it.nexera.ris.common.security.beans.SecurityInfoProcBean">
	</beans:bean>

	<beans:bean id="authUserDetailsBean"
				class="it.nexera.ris.common.security.beans.AuthUserDetailsBean">
		<beans:property name="securityController" ref="securityControllerBean" />
		<beans:property name="securityInfoProc" ref="securityInfoProcBean" />
	</beans:bean>

	<beans:bean id="authenticationSuccessHandlerEx"
				class="it.nexera.ris.common.security.beans.AuthenticationSuccessHandlerEx">
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="authUserDetailsBean">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>